{% load static %}

<!DOCTYPE html>    
<html>    
    <head>   
        
        <title>Final</title>    
        <link href="{% static 'css/styles.css'%}" rel="stylesheet">   
    </head>    
    <body> 
        <div class="cabecalho">
            <h1>Error!</h1>
            <!-- <h3>
               O menor caminho para o seu trajeto foi gerado.
            </h3> -->

        </div>
        <div class="containerhome" >
            <h4>Seu veículo não possui autonomia para concluir a viagem!</h4>
            <a id="btn" href="http://localhost:8000/search/">
                <button>voltar</button>
             </a>
    
        </div>
    </body>    
</html> 
<!-- virtualenv --python=/usr/bin/python3.6 env -->