{% load static %}

<!DOCTYPE html>    
<html>    
    <head>   
        
        <title>Final</title>    
        <link href="{% static 'css/styles.css'%}" rel="stylesheet">   
    </head>    
    <body> 
        <div class="cabecalho">
            <h1>Seja Bem-vindo!</h1>
        </div>
        <div class="containerhome" >
            <h4>A aplicação utiliza grafos e algoritmos de programação Bellman-Ford(menor caminho determinado pela autonomia do veículo) e Dijkstra(menor caminho com paradas)! </h4>
            <a id="btn" href="http://localhost:8000/search/">
                <button>Menor Caminho</button>
            </a>
            <br/>
            <a id="btn" href="http://localhost:8000/search2/">
                <button>Caminho com paradas</button>
            </a>
    
        </div>
    </body>    
</html> 