{% load static %}
{% block includes %}
<!-- {{ form }} -->
{% endblock includes %}
<!DOCTYPE html>    
<html>    
    <head>   
        
        <title>Final</title>    
        <link href="{% static 'css/styles.css'%}" rel="stylesheet">   
    </head>    
    <body> 
        <div class="cabecalho">
            <h1>Seja bem-vindo!</h1>
            <h3>
                Diga a onde você deseja ir e a aplicação indicará o menor caminho, com melhores momentos para abastecer seu veiculo!
            </h3>

        </div>
        <div class="container">
            <div id="caixa_esquerda">
                <h2>Buscar caminho</h2>
                <form id="formulario"  method="post">
                    {% csrf_token %}
                        {{ form }}
                    <br/>
                    <input type="submit" id="botao" value="buscar"/>
                </form>
            </div>
            <div id="caixa_direita">
                <img src="{% static 'img/mapa00.svg'%}" width="100%" height="100%"/>
            </div>
        </div>
    </body>    
</html> 